.Container{
    width: 100%;
    min-height: 40%;
    background:linear-gradient(0deg, rgba(78, 75, 75, 0.4), rgba(0, 0, 0, 0.4)), url(https://static.bershka.net/4/static/itxwebstandard/images/menu/highlight/bskstyle_creators.jpg?t=20211002034007);
text-align: center ;
display: flex;
align-items: center;
margin: auto;
justify-content: center;
}


.AddText{
    color: white;
    font-family: 'Apercu', sans-serif;
    font-size: 1.5rem;
    padding: 32px;
    
}